:root {
  --main: #b22831;
  --btnColor: #c2252d;
  --colorWhite: #ffffff;
  --borderColor: #c9c9c9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "head-font", "Droid Arabic Kufi", serif;
}
/* start nav  */
.navbar {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: repeat(1, 45px);
  justify-items: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px #333;
  background: var(--colorWhite);
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.navbar .icon .nav-btn {
  width: 40px;
  height: 40px;
  background-color: var(--colorWhite);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  display: block;
  margin-left: 10px;
  color: var(--main);
  outline: none;
}
.navbar .icon .nav-btn i {
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 2px;
}

.navbar .icon .modal-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.navbar .icon .modal-header button {
  position: absolute;
  left: 0;
}
.modal-title {
  font-size: 2rem;
  color: var(--main);
}

.m-link {
  display: block;
  border-radius: 6px;
  color: var(--colorWhite);
  font-weight: bolder;
  text-align: center;
  line-height: 37px;
  height: 39px;
  background: #69635f;
  margin: 8px 0px;
}
.m-link:hover {
  background: var(--main);
  color: var(--colorWhite);
}
.nav-item a {
  text-decoration: none;
}
.modal-content {
  border-radius: 0px 30px 0px 30px;
}
.navbar .call {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.navbar .call .phone {
  justify-content: center;
  align-items: center;
}
.navbar .call .phone h4 {
  padding: 0;
  margin: 0;
  color: var(--main);
  font-size: 1.2rem;
}
.navbar .call .phone span {
  font-size: 12px;
}
.navbar .call .call-icon {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
.navbar .call .call-icon img {
  margin: 0.5rem 0.25rem;
}

@media (max-width: 720px) {
  .navbar .icon .nav-btn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .icon .nav-btn i {
    font-size: 1rem;
    color: var(--main);
  }
  .navbar .logo img {
    width: 70%;
  }
  .navbar {
    height: 50px;
  }
  .navbar .call {
    display: none;
  }
}
@media (max-width: 900px) {
  nav {
    display: none;
  }
  .navbar .call .phone h4 {
    font-size: 12px;
  }
  .navbar .call .phone span {
    font-size: 7px;
  }
}

/* end nav  */
.top-line {
  display: block;
  clear: both;
  height: 5px;
  background: url(../img/top_line.jpg) center no-repeat;
}

/* start main */

.main {
  background-image: url(../img/12121f89a76c528b36fcd4771a652910.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}
.main .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  top: 5px;
}
.main .main-header .icon {
  position: relative;
  right: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.main .main-header .nav-btn {
  width: 40px;
  height: 40px;
  background-color: var(--colorWhite);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  display: block;
  margin-left: 10px;
  color: var(--main);
  outline: none;
}
.main .main-header .nav-btn i {
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 2px;
}

.main .main-header .icon span {
  font-size: 14px;
  color: var(--main);
}

.main .main-header .call-test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.main .main-header .call-test h4 {
  padding: 0;
  margin: 0;
  color: var(--main);
  font-family: arial, sans-serif;
  font-size: 1.2rem;
}
.main .main-header .call-test span {
  font-size: 12px;
  margin-right: 0.7rem;
}
.main .main-header .call-test .call-icon {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
.main .main-header .call-test .call-icon img {
  margin: 0.6rem 0.25rem;
}

.main-content {
  display: grid;
  grid-template-rows: max-content(600px);
  direction: rtl;
  margin-top: 120px;
  gap: 10px;
}
.main-content .content {
  display: grid;
  grid-template-columns: 100px 100px 100px auto;
  grid-template-rows: 1fr;
  position: relative;
}
.main-content .content span {
  grid-column: 2/2;
}
.main-content .content h4 {
  color: var(--main);
  font-size: 1.2rem;
}

.main-content .content p {
  position: relative;
  bottom: -30px;
  right: -100px;
  font-size: 0.75rem;
}

.main .btn-download {
  display: grid;
  grid-template-columns: 250px 250px auto;
  grid-template-rows: 50px;
}
.main .btn-download button {
  grid-column: 2/3;
  border-radius: 40px;
  background: var(--main);
  border: none;
  color: var(--colorWhite);
}
.main .btn-download button i {
  font-size: 20px;
  padding: 3px;
}

@media (min-width: 320px) and (max-width: 800px) {
  .main {
    height: 100%;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 3fr 1fr;
  }
  .main .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .main-header .icon {
    position: relative;
    right: 10px;
  }

  .main .main-header .icon button i {
    font-size: 1.1rem;
  }
  .main .main-header .icon span {
    font-size: 0.5rem;
    position: relative;
    right: -3;
  }
  .main .main-header .call-test {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .main .main-header .call-test .phone {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }
  .main .main-header .call-test .phone h4 {
    font-size: 1rem;
  }
  .main .main-header .call-test .phone span {
    font-size: 10px;
    margin-right: 0.7rem;
  }
  .main .main-header .call-test .call-icon {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }
  .main-content {
    display: grid;
    grid-template-rows: max-content(600px);
    direction: rtl;
    margin-top: 140px;
    gap: 10px;
  }
  .main-content .content {
    display: grid;
    grid-template-columns: 10px 100px 100px auto;
    grid-template-rows: 1fr;
    position: relative;
  }
  .main-content .content span {
    grid-column: 2/2;
  }
  .main-content .content h4 {
    font-size: 1.1rem;
  }
  .main-content .content p {
    font-size: 0.75rem;
  }
  .main .btn-download {
    display: grid;
    grid-template-columns: 5px 350px;
    grid-template-rows: 50px;
    position: relative;
    bottom: 1rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .main {
    height: 100%;
    background-position: center;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 3fr 1fr;
  }
  .main .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .main-header .icon {
    position: relative;
    right: 10px;
  }

  .main .main-header .icon button i {
    font-size: 1.1rem;
  }
  .main .main-header .icon span {
    font-size: 0.5rem;
    position: relative;
    right: -5px;
  }
  .main .main-header .call-test {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .main .main-header .call-test h4 {
    font-size: 1rem;
  }
  .main .main-header .call-test span {
    font-size: 0.6rem;
    position: relative;
    top: -0.25rem;
  }

  .main-content {
    margin-top: 10px;
  }
  .main-content .content {
    display: grid;
    grid-template-columns: 10px 100px 100px auto;
    grid-template-rows: 1fr;
    position: relative;
  }
  .main-content .content span {
    grid-column: 2/2;
  }
  .main-content .content h4 {
    font-size: 1.1rem;
  }
  .main-content .content p {
    font-size: 0.75rem;
  }
  .main .btn-download {
    display: grid;
    grid-template-columns: 100px 250px auto;
    grid-template-rows: 50px;
    position: relative;
    bottom: 4rem;
  }
  .main .btn-download button {
    font-size: 0.75rem;
    text-align: center;
  }
  .main-content .btn-download button i {
    font-size: 1.1rem;
  }
}

/* end main */

/* start section news  */

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 15px;
  padding: 3px;
  transition: all 1s;
}

.swiper h2 {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.swiper img {
  margin-bottom: 2%;
}

.box5 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.box1,
.box2,
.box3,
.box4,
.box5 {
  position: relative;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
  transform: scale(1.04);
  transition: all 1.5s;
  object-fit: cover;
  filter: grayscale(100%);
}
.img-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parent .box5 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--colorWhite);
  position: relative;
  top: -3rem;
}
.parent .box1 span,
.parent .box2 span,
.parent .box3 span,
.parent .box4 span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--colorWhite);
  position: relative;
  top: -2rem;
}

.swiper {
  width: 80%;
  height: 33rem;
}
.swiper-wrapper {
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  width: 100%;
  height: 900px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  border-radius: 0;
  background-color: #c5353c;
  border: 2px solid red;
}
@media (min-width: 320px) and (max-width: 790px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 6rem);
    grid-row-gap: 10px;
  }
  .box5 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .box1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .box2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .box3 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .box4 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .swiper {
    width: 80%;
    height: 80vh;
  }
}
@media (min-width: 800px) and (max-width: 1280px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 13rem);
    grid-gap: 15px;
    padding: 3px;
    transition: all 1s;
  }
  .box5 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .box1,
  .box2 {
    grid-row: 2/3;
  }
  .box3,
  .box4 {
    grid-row: 3/4;
  }
  .swiper {
    width: 80%;
    height: 65vh;
  }
}

/* start card  */
.cards {
  width: 100%;
  height: 110vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
}
.cards h2 {
  text-align: center;
  color: var(--colorWhite);
  padding: 0;
  margin: 0;
}
.cards img {
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
}
.cards .container swiper-container {
  height: 90%;
  width: 80%;
  margin: auto;
}
.cards .container swiper-container swiper-slide {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.cards .container swiper-container swiper-slide .card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 320px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  height: 540px;
  overflow: hidden;
}
.card .img-card {
  grid-area: 1 / 1 / 2 / 2;
  display: block;
  padding: 5px;
}
.card .img-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.card .title-card {
  grid-area: 2 / 1 / 3 / 2;
  justify-content: center;
  align-items: center;
  display: block;
}
.card .title-card h3 {
  display: block;
  font-family: "head-font", "Droid Arabic Kufi", serif;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  border-color: transparent;
}
.card .disc-card {
  grid-area: 3 / 1 / 4 / 2;
  justify-content: start;
  align-items: start;
}
.card .disc-card p {
  font-size: 0.9rem;
  color: #38393b;
  overflow: hidden;
}
.card .btn-card {
  grid-area: 4 / 1 / 6 / 2;
  justify-content: center;
  align-items: center;
}
.card .btn-card button {
  border: 2px solid var(--main);
  border-radius: 30px;
  height: 36px;
  display: block;
  width: 140px;
  margin: 0 auto;
  text-align: center;
  color: var(--main);
  font-size: 14px;
  line-height: 32px;
  transition: all 0.8s ease;
  background-color: var(--colorWhite);
}

.card .btn-card button:hover {
  background-color: var(--main);
  color: var(--colorWhite);
}
.swiper-pagination-clickable,
.swiper-pagination-bullet {
  cursor: pointer;
  background: red;
  height: 5px;
  width: 20px;
  border-radius: 0;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .cards {
    height: 85vh;
  }
  .cards h2 {
    margin: 0;
  }
  .cards .container {
    margin-bottom: 10rem;
  }
}
@media (min-width: 320px) and (max-width: 760px) {
  .cards {
    height: 80vh;
  }
}

.swiper-pagination-bullet {
  background-color: red !important;
  height: 5px;
  width: 20px;
}

/* end card  */

/* start our  */

.our {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(../img/client-bg.jpg);
  background-position: center;
  background-size: cover;
}
.our h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.our img {
  padding: 0;
  margin: 0 auto;
}
swiper-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--colorWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.our-partner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 80px 80px 80px;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 100%;
  background: var(--colorWhite);
  border: 1px solid #ddd;
  box-shadow: 0px 0px 6px #ddd;
  text-align: center;
}
.our-partner .our-img {
  padding: 5px;
}
.our-partner .our-img img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.our-partner .our-title h4 {
  font-size: 1.2rem;
}
.our-partner .our-disc p {
  display: block;
  color: #434343;
  font-size: 0.8rem;
  overflow: hidden;
}

.our-partner .our-btn {
  height: 50%;
}
.our-partner .our-btn button {
  width: calc(100% / 2);
  height: calc(100%);
  border-radius: 30px;
  padding: 8px 20px;
  border: 2px solid var(--main);
  text-align: center;
  color: var(--main);
  font-size: 0.8rem;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.8s ease;
}
.our-partner .our-btn button:hover {
  background-color: var(--main);
  color: var(--colorWhite);
}
@media (min-width: 800px) and (max-width: 1200px) {
  .our {
    height: 75vh;
  }
  .our-partner {
    height: 75%;
  }
}
@media (min-width: 320px) and (max-width: 760px) {
  .our {
    height: 85vh;
  }
}

/* end our  */

/* start footer  */

#full-footer {
  background-image: url(../img/footer-bg.jpg);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  direction: rtl;
}

.btn-up {
  width: 52px;
  height: 52px;
  background: var(--main);
  display: block;
  margin: auto;
  border-radius: 50%;
  color: var(--main);
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 60px;
}
.btn-up:hover {
  background-color: var(--main);
}
.call-method {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border: 1px solid #ccc;
  background-color: var(--colorWhite);
  border-radius: 100px;
  padding: 8px;
  color: var(--main);
  font-weight: bolder;
  text-align: center;
  margin-top: 450px;
}

.icon ul {
  display: flex;
  justify-content: center;
  margin: 20px;
  list-style: none;
}

.icon ul li a {
  cursor: pointer;
}
.icon ul li a i {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: var(--colorWhite);
  background-color: #9e7b7bbb;
}
.icon ul li a i .insta {
  background-color: rgb(202, 55, 55);
}
.f-img {
  padding: 5px;
  margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 800px) {
  .call-method {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .f-img {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
  }
}
/* end footer  */

/* =================== this code is error the moadel my body ================ */
.modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  display: none;
}
.modal-body {
  z-index: 200;
}
